<div class="wikia-nav__header">
  <a {{action 'onUsernameClicked'}}
      class="wikia-nav--external wikia-nav--profile-link">
    <figure class="wikia-nav__avatar user-profile-avatar">
      {{#if unreadCount}}
        <span class="wds-notifications__unread-mark">{{unreadCount}}</span>
      {{/if}}
      <img src={{currentUser.avatarPath}} alt="{{currentUser.name}}">
    </figure>
    {{currentUser.name}}
    {{svg 'wds-icons-menu-control' viewBox='0 0 24 24' class='icon wds-menu-chevron'}}
  </a>
</div>
