<div class="wds-global-navigation__wrapper">
  <header class="wds-global-navigation">
    <div class="wds-global-navigation__content-bar">
      <a class="wds-global-navigation__logo" href="http://fandom.wikia.com">
        {{> ../svg class='wds-global-navigation__logo-image wds-is-wds-company-logo-fandom' image='wds-company-logo-fandom'}}
        {{> ../svg class='wds-global-navigation__logo-image wds-is-wds-company-logo-powered-by-wikia' image='wds-company-logo-powered-by-wikia'}}
      </a>
      <div class="wds-global-navigation__links-and-search">
        <a class="wds-global-navigation__link wds-is-games">{{strings.global-navigation-fandom-overview-link-vertical-games}}</a>
        <a class="wds-global-navigation__link wds-is-movies">{{strings.global-navigation-fandom-overview-link-vertical-movies}}</a>
        <a class="wds-global-navigation__link wds-is-tv">{{strings.global-navigation-fandom-overview-link-vertical-tv}}</a>
        <div class="wds-global-navigation__wikis-menu wds-dropdown">
          <div class="wds-global-navigation__dropdown-toggle wds-dropdown__toggle">
            <span>{{strings.global-navigation-wikis-header}}</span>
            <svg class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-dropdown-tiny"></use>
            </svg>
          </div>
          <div class="wds-global-navigation__dropdown-content wds-dropdown__content">
            <ul class="wds-is-linked wds-list">
              <li>
                <a class="wds-global-navigation__dropdown-link explore-link">{{strings.global-navigation-wikis-explore}}</a>
              </li>
              <li>
                <a class="wds-global-navigation__dropdown-link central-link">{{strings.global-navigation-wikis-community-central}}</a>
              </li>
              <li>
                <a class="wds-global-navigation__dropdown-link university-link">{{strings.global-navigation-wikis-fandom-university}}</a>
              </li>
            </ul>
          </div>
        </div>
        <form class="wds-global-navigation__search {{#searchHidden}}hidden-search{{/searchHidden}}">
          <div class="wds-global-navigation__search-input-wrapper wds-dropdown ">
            <label class="wds-dropdown__toggle wds-global-navigation__search-label">
              <svg class="wds-icon wds-icon-small wds-global-navigation__search-label-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-magnifying-glass"></use>
              </svg>
              <input
                  class="wds-global-navigation__search-input"
                  type="search"
                  name="query"
                  placeholder="{{strings.global-navigation-search-placeholder-inactive}}"
                  autocomplete="off"
              >
            </label>
            <button class="wds-button wds-is-text wds-global-navigation__search-close" type="reset">
              <svg class="wds-icon wds-icon-small wds-global-navigation__search-close-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-cross"></use>
              </svg>
            </button>
            <div class="wds-dropdown__content wds-global-navigation__search-suggestions">
              <ul class="wds-has-ellipsis wds-is-linked wds-list"></ul>
            </div>
            <button class="wds-button wds-global-navigation__search-submit" type="button" disabled>
              <svg class="wds-icon wds-icon-small wds-global-navigation__search-submit-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-arrow"></use>
              </svg>
            </button>
          </div>
        </form>
      </div>
      <div class="user-menu"></div>
      <div class="wds-global-navigation__start-a-wiki">
        <a class="wds-global-navigation__start-a-wiki-button wds-button wds-is-squished wds-is-secondary">
          <span class="wds-global-navigation__start-a-wiki-caption">{{strings.global-navigation-create-wiki-link-start-wikia}}</span>
          <svg class="wds-global-navigation__start-a-wiki-icon wds-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-plus"></use>
          </svg>
        </a>
      </div>
    </div>
  </header>
</div>